@font-face {
	font-family: MyriadPro;
	src: url(../fonts/MYRIADPRO-REGULAR.OTF);
	font-weight: 400;
}

@font-face {
	font-family: MyriadPro;
	src: url(../fonts/MYRIADPRO-SEMIBOLD.OTF);
	font-weight: 600;
}
